{% extends 'base.html' %}
{% block content %}
<h3 class="mb-3">Nova categoria</h3>
<div class="card">
    <div class="card-body">
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.name.id_for_label }}" class="form-label">Nome:</label>
                {{ form.name }}
            </div>
            <button class="btn btn-success">Salvar</button>
            <a class="btn btn-link" href="{% url 'category_list' %}">Voltar</a>
        </form>
    </div>
</div>
{% endblock %}